* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
li {
  list-style:circle;
}
img {
  display: block;
  width: 100%;
}
p {
  color: var(--text-main-color);
  font-size: 1.125rem;
}
h1,
h2,
h3,
h4 {
  color: var(--text-accent-color);
}
.site-container {
  max-width: 65rem;
  margin: 0 auto;
}
h2{
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  font-weight: 900;
}

