* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: circle;
}
img {
  display: block;
  width: 100%;
}
p {
  color: var(--text-main-color);
  font-size: 1.125rem;
}
h1,
h2,
h3,
h4 {
  color: var(--text-accent-color);
}
.wrapper {
  max-width: 65rem;
  margin: 0 auto;
  padding: 7rem 2rem;
}
h2 {
  font-size: clamp(1.65rem, 2.75vw, 2.5rem);
  line-height: 1.5;
  margin-bottom: 3rem;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .wrapper {
    padding: 7rem 1rem 5rem 1rem;
  }
}